.btn {
  width: 25%;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  font-family: Roboto, sans-serif;
  padding: 1.5rem 2.5rem;
  text-align: center;
}

.btn3 {
  background-color: rgb(247, 186, 118);
}